<div class="top-hero-wrapper">
  <div class="bg-mask">
    <div class="container content-container">
      <div class="row" style="margin-top: 120px;">
        <div class="col-md-offset-2 col-md-4 btn-margin">
          <%= link_to '利用者としてログイン', user_login_path, class: 'btn-pink btn' %>
        </div>
        <div class="col-md-offset-1 col-md-4 btn-margin">
          <%= link_to '美容師としてログイン', teacher_login_path, class: 'btn-cyan btn' %>
      </div>
    </div>
  </div>
</div>
