<% if @requets.count != 0 %>

<div class="top-hero-wrapper">
  <div class="bg-mask">
    <div class="container content-container">
      <h1 class="text-white text-center">依頼一覧</h1>


      <div class="row text-white" style="margin-bottom: 340px">
        <% @requets.each do |requet| %>
          <div class="col-md-offset-2 col-md-10 auto-br" style="margin-top: 50px">
            <h2>名前 : <%= link_to requet.name, user_path(id: requet.user_id) %></h2>
            <h2>依頼内容 : <%= requet.description %></h2>
          </div>
          <div class="col-md-offset-2 col-md-4 btn-margin">
            <%= link_to 'チャットを開始', new_chat_path(user_id: requet.user.id), class: 'btn-white btn' %>
          </div>
        <% end %>
      </div> <!--row -->

    </div> <!-- container -->
  </div> <!-- mask -->
</div>　<!-- wrapper -->

<% else %> <!-- 依頼がない場合 -->

  <div class="top-hero-wrapper">
    <div class="bg-mask">
      <div class="container content-container">
        <h1 class="text-white text-center">依頼一覧</h1>

        <div class="row">
          <div class="col-md-12 text-center text-white">
            <h1 class="emp-content">現在依頼はきていません</h1>
          </div>
        </div> <!--row -->

      </div> <!-- container -->
    </div> <!-- mask -->
  </div> <!-- wrapper -->

<% end %><!--ifのend -->
