<div class="top-hero-wrapper">
  <div class="home-container top-hero-container">
    <div class="row">
      <div class="col-md-offset-9 col-md-3 btn-margin">
        <%= link_to 'さっそく相談をする', new_user_path, class: 'btn-pink btn' %>
      </div>
      <div class="col-md-offset-9 col-md-3 btn-margin">
        <%= link_to '美容師の方はこちら', new_teacher_path, class: 'btn-cyan btn' %>
      </div>
    </div>
  </div>
  <div class="home-contaier">
    <div class="row">
      <div class=" col-md-12">
        <h1 class="title">Online hair salomn - Hair More</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5　col-md-offset-7">
        <p class="desc" style="padding-left: 145px">Hair Moreは、髪の毛の悩みを抱えている人と</p>
      </div>
      <div class="col-md-5　col-md-offset-7">
        <p class="desc" style="padding-left: 100px">現役の美容師を繋ぐマッチングサービスです</p>
      </div>
    </div>
  </div>
</div>
